.landing-wrapper {
  display:grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.box-2, .box-3, .box-4 {
  background: #051937;
  padding: 1em;
  border-radius: 5px;

}

.box-2 {
  grid-column: 2/3;
}

.box-1 {
  grid-column: 1/6;
}

.point-title {
  color: white;
}

.point-description {
  color: white;
}

.box-1 .hero-title {
  color: white;
  font-size: 3em;
}
